<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.pinyinapp.unity.PinyinFileProvider"
            android:authorities="${applicationId}.pinyinfileprovider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>
</manifest>